In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from pycaret.regression import *

In [2]:
import sys
print(sys.path.append(sys.path[0][0:-4] + 'mikael'))
# print(sys.path)
# from ..mikael import Master
from Master import MasterDataframes
# make notebook reload modules when code is changed or anything is run
%load_ext autoreload

None

In [3]:
mdf = MasterDataframes()
df_a = mdf.df_a
# X_A, Y_A = mdf.prep_dataset_x_y("A")
X, Y = mdf.prep_dataset_x_y("A")
merged_df = pd.concat([X, Y], axis=1)
categoriacal_features = [c for c in merged_df.columns if ":idx" in c]
merged_df.reset_index(drop=True, inplace=True)

In [4]:
s = setup(merged_df, target="pv_measurement", categorical_features=categoriacal_features, experiment_name="pv_power_mw")

# s = setup(merged_df, target="pv_measurement", categorical_features=categoriacal_features, experiment_name="pv_power_mw",   session_id=123, log_experiment=True)

In [5]:
# find best model stack
# stacker = stack_models(compare_models(n_select = 3))

In [6]:
lightgbm = create_model('lightgbm')
xtra_trees = create_model('et')
xgboost = create_model('xgboost')
rf = create_model('rf')

# stack models
stacker = stack_models([lightgbm, xtra_trees], meta_model=lightgbm)

In [11]:
# print(stacker)
# finalize_model(stacker)

In [13]:
test_data = mdf.prep_test("A").reset_index()
# test_data.drop("index").reset_index()
columns = [c for c in test_data.columns if c != 'index']
test_data = test_data[columns]
# test_data.head()


pred = predict_model(stacker, data = test_data)
y_pred = pred["prediction_label"]
y_pred

0        4.755759
1        4.755759
2        4.755759
3        5.313251
4      195.190872
          ...
715    258.327309
716    119.598046
717     34.320707
718      1.039041
719      0.522069
Name: prediction_label, Length: 720, dtype: float64