In [1]:
%load_ext autoreload
# %reload_ext autoreload

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from pycaret.regression import *
from pathlib import Path

In [3]:
# from pycaret.utils import version
# version()

In [4]:
%autoreload
import sys
sys.path.append('../')
from pipeline import Pipin
pipin = Pipin()

Current working directory: /Users/matsalexander/Desktop/Forest Gump/mats/pycret

In [5]:
df1_0 = pipin.get_data("A")
df2_0 = pipin.get_data("B")
df3_0 = pipin.get_data("C")

In [84]:
# can you move the pv_measurment to the end of the df?
df1 = df1_0.copy()
df2 = df2_0.copy()
df3 = df3_0.copy()
categorical_features = pipin.get_categorical_features(df1)
ignore_features = pipin.get_irrelevant_features()

In [85]:
# add weights
# if is 
df1['weight'] = df1['is_estimated:idx'] * 2 + 1
df2['weight'] = df2['is_estimated:idx'] * 2 + 1
df3['weight'] = df3['is_estimated:idx'] * 2 + 1

In [86]:
# ignore_features.append('weight')
# s = setup(df_transformed, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False)
s1 = setup(df1, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, train_size=0.9, fold_shuffle=True)
s2 = setup(df2, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, train_size=0.9, fold_shuffle=True)
s3 = setup(df3, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, train_size=0.9, fold_shuffle=True)
# s = setup(df_transformed, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, imputation_type="iterative", feature_selection="classic", feature_selection_estimator="et", remove_multicollinearity=True, remove_outliers = True, low_variance_threshold = 0.1,)
# s = setup(df_transformed, target="pv_measurement", imputation_type="iterative", feature_selection="classic", feature_selection_estimator="et", remove_multicollinearity=True, remove_outliers = True, low_variance_threshold = 0.1,  normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False,)

In [87]:
# now pass sample weights to lr and fit again
import numpy as np
# weights = np.arange(s1.get_config('X_train').shape[0])
et_fit = s1.create_model('lr')

In [91]:
s1.train_transformed.shape

(19153, 56)

In [93]:
weights = list(s1.train_transformed["weight"])
print(len(weights))
et_fit.fit(X = s1.train_transformed, y = s1.test_transformed, sample_weight = weights)
# weights

19153

ValueError: Found input variables with inconsistent numbers of samples: [19153, 2129]

In [8]:
preprocessed_data = s1.dataset_transformed
preprocessed_data
print(preprocessed_data.shape)
print (preprocessed_data.columns)
preprocessed_data.head(20)
# preprocessed_data.describe()
# categorical features are normalized. That is not good.

(34085, 53)
Index(['total_cloud_coverp', 'diffuse_radW', 'air_density_2mkgm3',
       'wind_speed_v_10mms', 'pressure_50mhPa', 'clear_sky_radW',
       'fresh_snow_3hcm', 'cloud_base_aglm', 'fresh_snow_1hcm',
       'msl_pressurehPa', 'direct_rad_1hJ', 'precip_5minmm', 'rain_waterkgm2',
       't_1000hPaK', 'relative_humidity_1000hPap', 'dew_point_2mK',
       'sun_elevationd', 'wind_speed_w_1000hPams', 'snow_waterkgm2',
       'sun_azimuthd', 'snow_densitykgm3', 'visibilitym',
       'clear_sky_energy_1hJ', 'wind_speed_10mms', 'fresh_snow_6hcm',
       'effective_cloud_coverp', 'snow_depthcm', 'snow_melt_10minmm',
       'absolute_humidity_2mgm3', 'super_cooled_liquid_waterkgm2',
       'wind_speed_u_10mms', 'ceiling_height_aglm', 'direct_radW',
       'diffuse_rad_1hJ', 'sfc_pressurehPa', 'pressure_100mhPa',
       'fresh_snow_12hcm', 'fresh_snow_24hcm', 'prob_rimep', 'elevationm',
       'dew_or_rimeidx_0.0', 'dew_or_rimeidx_1.0', 'dew_or_rimeidx_-1.0',
       'is_dayidx', 'is_in_shadowidx', 'precip_type_5minidx_0.0',
       'precip_type_5minidx_1.0', 'precip_type_5minidx_2.0',
       'precip_type_5minidx_3.0', 'precip_type_5minidx_5.0',
       'snow_driftidx_0.0', 'is_estimatedidx', 'pv_measurement'],
      dtype='object')

,total_cloud_coverp,diffuse_radW,air_density_2mkgm3,wind_speed_v_10mms,pressure_50mhPa,clear_sky_radW,fresh_snow_3hcm,cloud_base_aglm,fresh_snow_1hcm,msl_pressurehPa,...,is_dayidx,is_in_shadowidx,precip_type_5minidx_0.0,precip_type_5minidx_1.0,precip_type_5minidx_2.0,precip_type_5minidx_3.0,precip_type_5minidx_5.0,snow_driftidx_0.0,is_estimatedidx,pv_measurement
0,97.175003,1.275000,1.22550,1.475,991.474976,2.750000,0.0,1318.824951,0.0,998.049988,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,7.040000
1,98.800003,0.000000,1.29100,1.950,1015.250000,0.000000,0.0,776.224976,0.0,1022.150024,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
2,99.550003,0.000000,1.22275,1.200,989.625000,0.000000,0.0,1236.449951,0.0,996.099976,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
3,99.875000,6.475000,1.26325,-0.750,987.674988,22.075001,0.0,464.100006,0.0,994.599976,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,19.360001
4,100.000000,12.474999,1.27725,-0.125,1017.174988,54.949997,0.0,305.450012,0.0,1024.125000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,84.699997
5,2.000000,0.000000,1.25225,2.800,978.299988,0.000000,0.0,1099.375000,0.0,984.750000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
6,100.000000,0.000000,1.23200,-2.525,963.050049,0.000000,0.0,501.174988,0.0,969.724976,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
7,27.900000,88.250000,1.23700,-2.500,1017.900024,644.424988,0.0,9411.625000,0.0,1025.025024,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3967.040039
8,93.300003,127.375000,1.26700,0.750,1010.200012,591.724976,0.0,439.649994,0.0,1017.200012,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1651.540039
9,79.650002,196.725006,1.23325,-1.000,1015.775024,816.599976,0.0,2640.500000,0.0,1022.750000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,392.260010
10,98.925003,136.600006,1.22075,-0.500,1013.700012,443.450012,0.0,2379.774902,0.0,1020.500000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,796.840027
11,7.050000,89.900002,1.21175,-2.150,1013.424988,639.400024,0.0,2194.050049,0.0,1020.500000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3126.199951
12,100.000000,0.000000,1.24300,-4.150,973.599976,0.000000,0.0,354.299988,0.0,980.250000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
13,62.825001,0.000000,1.27825,0.350,1007.299988,0.000000,0.0,350.799988,0.0,1014.099976,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
14,28.075001,19.775000,1.35500,0.525,1011.224976,22.625000,0.0,28.299999,0.0,1018.450012,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,309.100006
15,84.449997,10.950001,1.27300,1.775,1007.924988,21.975000,0.0,798.849976,0.0,1014.875000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,135.520004
16,100.000000,0.000000,1.26350,0.850,998.650024,0.000000,0.0,383.299988,0.0,1005.449951,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
17,1.875000,0.000000,1.35200,1.300,1025.224976,0.000000,0.0,191.449997,0.0,1032.349976,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.660000
18,100.000000,2.025000,1.22100,-0.375,1003.150024,12.650000,0.0,261.950012,0.0,1009.799988,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,5.060000
19,34.825001,0.000000,1.22225,1.600,962.099976,0.000000,0.0,3232.699951,0.0,968.500000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000

In [12]:
# top3 = s1.compare_models(sort='MAE', n_select=3, )
lightgbm1 = s1.create_model('lightgbm')

In [13]:
et1 = s1.create_model('et')

In [21]:
# top3 = s2.compare_models(sort='MAE', n_select=3)
et2 = s2.create_model('et')
# lightgbm = s.create_model('lightgbm')

In [22]:
# top3 = s3.compare_models(sort='MAE', n_select=3)
et3 = s3.create_model('et')

# lightgbm = s.create_model('lightgbm')

In [17]:

# et3 = s3.tune_model(et3, optimize="MAE")

In [18]:
et1 = s1.finalize_model(et1)

In [23]:
et2 = s2.finalize_model(et2)

In [24]:
et3 = s3.finalize_model(et3)

In [16]:
# plot_model(lightgbm, plot="feature_all")
# plot_model(gump, plot="feature_all")

In [30]:
test1 = pipin.get_test_data("A")
test2 = pipin.get_test_data("B")
test3 = pipin.get_test_data("C")

In [40]:
from utils import get_unique_filename
pred1 = predict_model(et1, data=test1)
pred2 = predict_model(et2, data=test2)
pred3 = predict_model(et3, data=test3)
pred = pd.concat([pred1, pred2, pred3])
final_prediction = pipin.post_processing(pred)
# final_prediction.to_csv(get_unique_filename('et3x'))
final_prediction

      prediction
id
0       0.015400
1       0.180400
2       5.253600
3     177.806200
4     528.867896
...          ...
2155   74.568200
2156   24.754800
2157   10.172400
2158    0.989800
2159    0.725200

[2160 rows x 1 columns]

In [20]:
# print("done", res_stack.shape)
# pipin.compare_mae(res_stack)